h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 2rem;
    text-align-last: center;
    color: orange;
}

em{
    text-transform: capitalize;
    color: rgb(247, 116, 64);   
}
img{
    width: 400px;
    border-radius: 13%;
    border-style: groove;
}
body{
    background-image: url(bleu.png);
}
section{
    border-style: solid;
    border-radius: 30%;
    border-width: 1cm 1cm;
    border-left: 5cm;
    border-right: 5cm;
}
img{

}